:root {
	--clr-white: hsl(0, 0%, 100%);
	--clr-light-grey: hsl(212, 45%, 89%);
	--clr-greyish-blue: hsl(220, 15%, 55%);
	--clr-dark-blue: hsl(218, 44%, 22%);

	--clr-box-shadow: hsla(219, 15%, 55%, 0.384);
}
